.index__page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  padding: 1rem;
  height: 100%;
  width: 100%;
}

.form__index {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.form__index h2 {
  font-size: 3rem;
  text-align: center;
}

.form__index select {
  padding: 1rem;
  width: 26rem;
  font-size: 2rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  outline: none;
  border: none;
}

.form__index select option {
  font-size: 2rem;
}

.loader__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 8rem;
  height: 8rem;
}
.lds-ellipsis div {
  position: absolute;
  top: 3.3rem;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background: var(--primary-color);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 0.8rem;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 0.8rem;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 3.2rem;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 5.6rem;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(2.4rem, 0);
  }
}
