.alert-login {
  margin: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white-color);
  padding: 1rem;
  border-radius: 1rem;
  font-size: 2rem;
  opacity: 0;
}

.alert-login--open {
  opacity: 1;
  transition: all;
}
