.search__page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  padding: 1rem;
}

.search__page h1 {
  font-size: 4rem;
  text-align: center;
}

.form__search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  margin-top: 5rem;
}

.form__search input {
  padding: 1rem;
  width: 50%;
  font-size: 1.5rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  outline: none;
  border: none;
  box-shadow: rgba(var(--black-int-color), 0.2) 0 2rem 3rem;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

.form__search input::placeholder {
  color: var(--white-color);
}

.form__search button {
  padding: 1rem;
  font-size: 1.5rem;
  width: 20%;
  background: var(--white-color);
  border: none;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: rgba(var(--black-int-color), 0.2) 0 2rem 3rem;
  cursor: pointer;
  outline: none;
}

.search__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  margin-top: 5rem;
}

.search__list h4 {
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
}

.search__text-search,
.search__text-not-found,
b {
  font-size: 2rem;
  margin-top: 1rem;
  color: var(--primary-color);
}
