.search-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  padding: 0.625rem;
  margin-top: 4rem;
}

.search-page__title {
  font-size: 2.5rem;
  text-align: center;
}

.search-page__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  margin-top: 3.125rem;
}

.search-page__form-input {
  padding: 0.625rem;
  width: 50%;
  font-size: 0.9375rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  outline: none;
  border: none;
  box-shadow: rgba(var(--color-black-rgb), 0.2) 0 1.25rem 1.875rem;
  border-bottom-left-radius: 0.625rem;
  border-top-left-radius: 0.625rem;
}

.search-page__form-input::placeholder {
  color: var(--color-white);
}

.search-page__form-submit {
  padding: 0.625rem;
  font-size: 0.9375rem;
  width: 20%;
  background: var(--color-white);
  border: none;
  border-bottom-right-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  box-shadow: rgba(var(--color-black-rgb), 0.2) 0 1.25rem 1.875rem;
  cursor: pointer;
  outline: none;
}

.search-page__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  margin-top: 3.125rem;
}

.search-page__default-label {
  width: 100%;
  font-size: 1.5625rem;
  text-align: center;
}

.search-page__search-label,
.search-page__not-found-label,
.search-page__query-label {
  font-size: 1.25rem;
  margin-top: 0.625rem;
  color: var(--color-primary);
}
