.alert-login {
  margin: 0.625rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  padding: 0.625rem;
  border-radius: 0.625rem;
  font-size: 1.25rem;
  opacity: 0;
}

.alert-login--open {
  opacity: 1;
  transition: all;
}
