.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 5rem;
  background-color: var(--color-primary);
  padding: 0.5rem;
}

.header-wrapper__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
}

.header-wrapper__title {
  text-decoration: none;
  font-size: 2.5rem;
  color: var(--color-white);
}

.header-wrapper__btn-manage-icon {
  font-size: 2.5rem;
  color: var(--color-white);
  cursor: pointer;
}

.header-wrapper__nav {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary);
  width: 0;
  height: 100%;
  overflow: hidden;
  transition: width 1s;
}

.header-wrapper__nav--open {
  width: 75%;
  transition: width 1s;
}

.header-wrapper__nav-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column wrap;
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
}

.header-wrapper__nav-list-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column wrap;
  width: 100%;
  height: 30rem;
}

.header-wrapper__link {
  text-decoration: none;
  font-size: 3rem;
  color: var(--color-white);
}

.header-wrapper__username {
  font-size: 5rem;
  color: var(--color-white);
  text-align: center;
}

.header-wrapper__btn-logout {
  background: none;
  border: 0.1rem solid var(--color-white);
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  color: var(--color-white);
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .header-wrapper__nav--open {
    width: 50%;
  }
}
