.header_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 5rem;
  background-color: #f93239;
  padding: 0.5rem;
}

.header_container_logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
}

.header_container_logo a {
  text-decoration: none;
  font-size: 2.5rem;
  color: #fff;
}

#bars {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
}

.header_container_nav {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #f93239;
  width: 0;
  height: 100%;
  overflow: hidden;
  transition: width 1s;
}

.sidebar-open {
  width: 75%;
  transition: width 1s;
}

.header_container_nav_list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column wrap;
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
}

.header_container_nav_list li {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column wrap;
  width: 100%;
  height: 30rem;
}

.header_container_nav_list li a {
  text-decoration: none;
  font-size: 3rem;
  color: #fff;
}

.header_container_nav_list li h2 {
  font-size: 5rem;
  color: #fff;
  text-align: center;
}

.header_container_nav_list li button {
  background: none;
  border: 0.1rem solid #fff;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  color: #fff;
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .sidebar-open {
    width: 50%;
  }
}
