.index-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  padding: 1rem;
  height: 100%;
  width: 100%;
}

.index-page__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.index-page__form-title {
  font-size: 3rem;
  text-align: center;
}

.index-page__form-select {
  padding: 1rem;
  width: 26rem;
  font-size: 2rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  outline: none;
  border: none;
}

.index-page__form-select-option {
  font-size: 2rem;
}
