.index-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  padding: 0.625rem;
  height: 100%;
  width: 100%;
}

.index-page__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  margin-bottom: 0.625rem;
}

.index-page__form-title {
  font-size: 1.875rem;
  text-align: center;
}

.index-page__form-select {
  padding: 0.625rem;
  width: 16.25rem;
  font-size: 1.25rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  outline: none;
  border: none;
}

.index-page__form-select-option {
  font-size: 1.25rem;
}
