.cards-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  padding: 0.625rem;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.cards-wrapper__btn-show-more {
  padding: 0.625rem;
  background: var(--color-primary);
  border-radius: 0.625rem;
  color: var(--color-white);
  font-size: 0.9375rem;
}

.cards-wrapper__btn-show-more:hover {
  opacity: 0.8;
}

.cards-wrapper__btn-show-more:active {
  transform: scale(0.8);
}
